<div class="banner">
    <div class="home" [routerLink]="['/empleado/lista']">
        <mat-icon>home</mat-icon>
    </div>
        <div class="opciones-usuario">
            <div class="datos">
                <b>Empleado: </b>{{identity.usuario}}
            </div>
        <div class="logout" (click)="logout()">
            Cerrar Sesión
        </div>
    </div>
</div>

<div class="options">
    <div class="add-visitante" [routerLink]="['/empleado/preregistro']">
        <mat-icon>add</mat-icon>
    </div>
    <div class="crud-user" [routerLink]="['/empleado/registro']">
        <mat-icon>add</mat-icon>
    </div>
</div>
<div class="content-empleado">
    <router-outlet></router-outlet>
</div>